<div ng-app="app">
  <div ng-controller="exampleCtrl">
  <ul>
    <li ng-repeat="review in reviews">Text: {{review.text}} Rating: {{review.rating}}</li> 
  </ul>
    <div>
      Add Review Text: <input ng-model="newReviewText">
    </div>
    <div>
      Add Review Rating: <input ng-model="newReviewRating">
    </div>
    <button ng-click="addReview(newReviewText, newReviewRating)">Add Review</button>
  </div>
</div>