<div ng-app="app">
  <div ng-controller="exampleCtrl">
    <div ng-repeat="review in reviews">{{review}}</div>    
    Add Review: <input ng-model="newReview">
    <button ng-click="addReview(newReview)">Add Review</button>
  </div>
</div>